{% extends 'PergamAppBundle::layout.html.twig' %}

{% form_theme form 'PergamAppBundle:Form:fields.html.twig' %}

{% block content %}

    {% embed 'PergamAppBundle:Block:default-panel.html.twig' %}

        {% block blocktitle %}
            {% trans %}user.password.title{% endtrans %}
        {% endblock %}

        {% block blocksubtitle %}
            {% trans %}user.password.edit{% endtrans %}
        {% endblock %}

        {% block contenu %}

            {% trans %}password.msg{% endtrans %}


            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                </form>


        {% endblock %}

    {% endembed %}
{% endblock %}


